* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100%;
    width: 100%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: repeat(2, 1fr);

    height: 100vh;
    width: 100vw;
    gap: 20px 10px;

    padding: 10px;

    background-color: #ccc;

}

.parent1,
.parent2,
.parent3,
.parent4 {
    display: grid;
    background-color: gray;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 10px;
}


.chil1,
.chil2,
.chil3,
.chil4,
.chil5,
.chil6 {

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;

}

.chil1 {
    background-image: url(../css/ph7.jpg);
    grid-column: 1/4;

}


.chil2 {
    background-image: url(../css/ph6.jpg);
}

.chil3 {
    background-image: url(../css/ph2.jpg);
}

.chil4 {
    background-image: url(../css/ph5.jpg);
}

/* //////////////////////////////////////////////////////////////////// */
.chil7 {
    background-image: url(../css/ph8.jpg);
    grid-row: 1/4;
}

.chil8 {
    background-image: url(../css/ph1.webp);
    background-position: top;


}

.chil9 {
    background-image: url(../css/ph10.webp);

}

.chil10 {
    background-image: url(../css/ph17.jpg);

}

.chil11 {
    background-image: url(../css/ph9.jpg);
}

/* /////////////////////////////////////////////////////////// */
.chil13 {
    background-image: url(../css/ph3.jpg);
    grid-row: 1/3;
    grid-column: 1/3;
}

.chil14 {
        background-image: url(../css/ph16.jpg);

}

.chil15 {
    background-image: url(../css/ph15.webp);
    
}
/* /////////////////////////////////////////////////////////// */
.chil19 {
    background-image: url(../css/ph14.jfif);
    grid-column: 1/4;
}

.chil20 {
    background-image: url(../css/ph12.jpg);
    grid-column: 1/3;
}

.chil21 {
    background-image: url(../css/ph10.webp); 
}